@font-face {
  font-family: 'Croct Icons';
  src: url('./croct.eot?j9cha1');
  src: url('./croct.eot?j9cha1#iefix') format('embedded-opentype'),
  url('./croct.ttf?j9cha1') format('truetype'),
  url('./croct.woff?j9cha1') format('woff'),
  url('./croct.svg?j9cha1#croct') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'Croct Icons' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-croct-logo .path1:before {
  content: "\e900";
  color: rgb(255, 255, 255);
}

.icon-croct-logo .path2:before {
  content: "\e901";
  margin-left: -1em;
  color: rgb(77, 214, 132);
}

.icon-image:before {
  content: "\e902";
}

.icon-warning:before {
  content: "\e903";
}
